<h3>Your Products and Store</h3>
<div class="row">
  <% @products.each do |product| %>
   <div class="col-sm-6 col-md-4 col-lg-5 mb-4">
      <div class="card mb-6" style="width: 18rem;">
        <% if product.image_url %>
          <img class="card-img-top" src="<%= product.image_url %>" alt="Card image cap">
        <% else %>
          <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=No+Image" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <p class="card-text"><%= product.name %></p>
          <p class="card-text">Category: <%= product.category %></p>
          <p class="card-text">Price: <%= product.price %></p>
          <a href="<%= product.website_url %>" class="btn btn-outline-dark rounded-pill">View Product</a>
        </div>
      </div>
    </div>
  <% end %>
</div>



  <a href="/products/new" class="btn btn-outline-dark rounded-pill">New product</a>